html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #ffecd2, #fcb69f);
}

.navbar {
  position: fixed;
  background: transparent;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  display: inline-block;
  padding: 5px 30px;
}

.navbar a {
  text-decoration: none;
}

.banner {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner .btn-holder {
  justify-content: flex-end;
  display: flex;
}

button {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: 0px 3px;
  font-size: 25px;
  font-family: 'Unbounded', Courier;
  background-color: seashell;
  cursor: pointer;
}

button:hover {
  margin-top: 5px;
  border: 0px;
}

#make-event:hover {
  color: midnightblue;
  background-color: lightskyblue;
}

#filter-button:hover {
  color: rgb(150, 100, 0);
  background-color: rgb(255, 255, 100);
}

#search-button:hover {
  color: darkred;
  background-color: rgb(255, 150, 150);
}

#log-in:hover {
  color: darkgreen;
  background-color: lightgreen;
}

button:active {
  cursor: pointer;
  background-color: aliceblue;
  box-shadow: 0px 0px;
}

#github-logo {
  
  border: 0;
  border-radius: 100%;
  background: transparent;
  box-shadow: 0px 0px;
  margin-top: 0;
  transition: transform .4s ease-out;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#github-logo:hover {
  transform: rotate(360deg);
}

/* Pop up button styling */
.content {
  z-index: -1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  text-align: center;
  background-color: #e8eae6;
  box-sizing: border-box;
  padding: 10px;
  z-index: 100;
  display: none;
  /*to hide popup initially*/
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 4px;
}

/* Map styling */
#map {
  height: 72vh;
  width: 100vw;
}